.custom-footer {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #252937;
  color: white;
  margin-top: auto;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}

.custom-img {
  float: right;
  padding-right: 2rem;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.custom-p {
  padding-bottom: 0rem;
  padding-top: 1rem;
  // float: left;
}


.clear { clear: both; height: 60px; }