.ds-header {
  background-color: #ffffffd6;
}

.ds-header-tabs {
  width: 100%;
  text-align: center;
}

.ds-header-tabs:hover {
  background-color: #1179d4;
  // border-style: solid;
  border-width: thin;
  // border-color: #478ecc;
}
