.ds-header {
  background-color: white;
}

.ds-header-tabs {
  width: 100%;
  text-align: center;
}

.ds-header-tabs:hover {
  border-bottom: solid orange;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: #f4f4f4;
}
