

.hr-card-title {
    margin-bottom: 0.75rem;
    padding-top: 2rem;
    margin-left: 5rem;
}

.card-body.text-primary:hover {
    background-color: #88a4bd78;
}

.hr-card-container {
    margin-top: 5rem;
}

.hr-custom-margin {
    margin-top: 3rem;
    text-align: center;
    color: #343839e6;
}

.hr-custom-card {
    border: solid;
    border-width: thin;
    border-color: rgb(180, 180, 180);
    border-radius: 0rem;
}

.hr-custom-card:hover {
    background-color: #b69ed95e;
    cursor: pointer;
}

.hr-custom-p-margin {
    margin-left: 1rem;
    margin-bottom: 2rem;    
}