.custombutton {
  border: none;
  width: 100%;
  height: 2.3rem;
  color: black;
  background-color: white;
  border-radius: 0;
  //float: right;
  margin-bottom: 0.5rem;
}

.custom-button:hover {
  border: solid;
  border-color: #e6e6f7;
  border-style: solid;
  background-color: red;
}

.ds-custom-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ds-banner-row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-color: white;
}

.ds-dropdown-item {
  cursor: pointer;
}

.ds-table {
  width: 100%;
  color: #212529;
  border-style: solid;
  border-color: #f0f0f0;
  text-align: center;
  border-width: thin;
  background-color: white;
  border-radius: 0;
  margin-top: 1rem;
  min-height:calc(100% - 20px);
  padding-top: 2rem;
  padding-bottom: 2rem;
  // margin-left: 1rem;
  // margin-right: 1rem;
}

th {
  border-bottom: 1px solid #f0f0f0 !important;
  border-top: 1px solid #f0f0f0 !important;
}

.dropdown-menu {
  min-width: 0rem !important;
}
.ds-container {
  margin-left: 5%;
  margin-right: 5%;
}

.ds-search {
  border-radius: 0;
  background-color: white;
  color: black;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  color: black;
}


.icon{
  background: url('../../assets/search-solid.svg') no-repeat;
  padding-left:5%;
  // padding-top: 1px;
  // padding-bottom: 1px;
  background-color: white;
  border: none;
  }



  .hr-custom-hire-card {
    margin-bottom: 2rem;
  }

  .hr-custom-img {
    border-radius: 5rem;
    width: 6rem;
  }

  .hr-custom-card-body {
    background-color: #fff;
    border-style: solid;
    border-radius: 0px;
    flex: 1 1 auto;
    min-height: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-width: thin;
    border-color: #acacac;
  }

  .hr-custom-btn {
    width: auto;
    background-color: grey;
    color: white;
    border-style: none;
    border-radius: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.5rem;
}

.hr-custom-hire-btn{
  background-color: #57af72;
  border-radius: 0px;
  color: white;
  width: 8rem;
}


.hr-custom-container {
  color: #212529;
  border-style: solid;
  border-color: #f0f0f0;
  text-align: center;
  border-width: thin;
  background-color: white;
  border-radius: 0;
  margin-top: 1rem;
  height: auto;
}

.hr-custom-container2 {
  background-color: white;
  height: auto;
  margin-top: 2rem;
  padding-top: 1rem;
}

.hr-search-btn {
  background-color: gray;
  color: white;
  border-radius: 0;
  width: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 1rem;
}

.btn.hr-custom-btn:hover {
  color: white;
  background-color: #488df9;
}