.ds-profile-continer {
  background-color: rgb(240, 240, 240);
  padding-top: 5%;
padding-bottom: 5%;
}

.ds-profileinfo-continer {
  background-color: rgb(245, 245, 245);
}

.ds-profile-col {
  padding-left: 3.5rem;
  // margin-top: 40%;
  // margin-bottom: 10%;

  padding-top: 1rem;
}

.ds-profie-info {
  padding-top: 50%;
  padding-bottom: 30%;
  background-color: #f9f9f9;
}

.ds-img-border {
  border-radius: 14rem;
  //border-style: ridge;
  //border-color: #0f0f0f2b;
  background-color: white;
}

.ds-customp {
  text-align: center;
  font-size: 1.5rem;
  padding-right: 12%;
  padding-top: 11%;
}

.ds-profile-inf {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
}

.ds-profile-elem {
  
  padding-left: 1rem;
}

.ds-v-space {
    padding-top: 2rem;
}